    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>MENGAPA HARUS INVESTASI DISINI?</h2>
                    <p>Berikut adalah alasan-alasan kenapa anda harus investasi kan harta anda di Koperasi Al-Anshor!</p>
                    <p>Profit lebih tinggi daripada bunga (riba) deposito bank. Profit dari menanamkan modal di investasi trading TBS 
                        (sawit) koperasi Al-Anshor bisa mencapai 45% pertahun. Profit bahkan bisa mencapai 10 kali lipat deposito bank 
                        untuk profit dialokasikan ke kebun sawit. (lihat perhitungan estimasi di proposal)</p>
                    <a href="https://uin-suska.ac.id/" class="btn btn-default btn-lg">UIN SUSKA RIAU</a>
                    <a href="https://sif.uin-suska.ac.id/" class="btn btn-default btn-lg">PRODI SISTEM INFORMASI</a>
                </div>
            </div>
        </div>
    </section>
